.desktop-up, .desktop-only {
    display: none;
    visibility: hidden
}

@media only screen and (min-width: 957px) {
    .desktop-up, .desktop-only {
        display: block;
        visibility: visible
    }
}

.tablet-up {
    display: none;
    visibility: hidden
}

@media only screen and (min-width: 769px) {
    .tablet-up {
        display: block;
        visibility: visible
    }
}

.tablet-down {
    display: none;
    visibility: hidden
}

@media only screen and (max-width: 768px) {
    .tablet-down {
        display: block;
        visibility: visible
    }
}

.mobile-down, .mobile-only {
    display: none;
    visibility: hidden
}

@media only screen and (max-width: 956px) {
    .mobile-down, .mobile-only {
        display: block;
        visibility: visible
    }
    .mobile-show {
        display: block
    }
    .mobile-hide {
        display: none
    }
}

@media only screen and (max-width: 1024px) {
    .tablet-show {
        display: block
    }
    .tablet-hide {
        display: none
    }
}

body, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0
}

html, body {
    font-family: Roboto, verdana, arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    padding: 0
}

body {
    padding-top: 80px
}

@media only screen and (max-width: 956px) {
    body {
        padding-top: 66px
    }
}

img {
    border: 0;
    max-width: 100%
}

h1, h2, h3, h4, h5 {
    color: #0379C4;
    font-weight: 300;
    margin-top: 1.1em;
    margin-bottom: .5em
}

h1:before, h2:before, h3:before, h4:before, h5:before {
    display: block;
    content: " ";
    margin-top: -90px;
    height: 90px;
    visibility: hidden
}

h1 {
    font-size: 43px
}

.home h1, .who h1 {
    margin-top: 0
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 26px
}

a {
    color: #0379C4;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a.button {
    padding: 1em;
    display: block;
    text-align: center
}

blockquote {
    color: #797c82;
    border-left: 4px solid #f5f5f5;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic
}

blockquote>:last-child {
    margin-bottom: 0
}

.rtl blockquote {
    border-left: 0;
    border-right: 4px solid #f5f5f5;
    padding-left: 0;
    padding-right: 15px
}

code {
    font-size: 15px;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    color: #424242;
    padding: 1px 5px
}

.rtl code {
    direction: ltr
}

table {
    border-collapse: collapse
}

td, th {
    border: 1px solid #FFF;
    background: #F7F7F7;
    padding: .5rem;
    text-align: left
}

.rtl td, .rtl th {
    text-align: right
}

td.col-fourty {
    width: 40%
}

td.col-thirty {
    width: 30%
}

th {
    background: #eee
}

th.col-twenty {
    width: 20%
}

ul li, ol li {
    color: #424242;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    list-style: decimal;
    margin-left: 20px;
    margin-right: 20px;
}

@media only screen and (max-width: 956px) {
    ul li, ol li {
        font-size: 16px;
        line-height: 28px
    }
}

p {
    color: #424242;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px
}

@media only screen and (max-width: 956px) {
    p {
        font-size: 16px;
        line-height: 28px
    }
}

p a {
    font-weight: 300
}

p.subtitle {
    font-size: 28px;
    line-height: 37px
}

p:last-child {
    margin-bottom: 0
}

figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0
}

.rtl figure {
    direction: ltr
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 20px
}

.container.md {
    max-width: 800px
}

.wrap {
    margin: 0 auto
}

.centered {
    text-align: center
}

@media only screen and (max-width: 956px) {
    .centered {
        text-align: left
    }
}

.align-right {
    text-align: right
}

@media only screen and (max-width: 956px) {
    .margin-bottom-mobile:last-child, .margin-bottom-mobile {
        margin-bottom: 40px
    }
}

.margin-bottom-sm:last-child, .margin-bottom-sm {
    margin-bottom: 40px
}

.margin-bottom:last-child, .margin-bottom {
    margin-bottom: 60px
}

@media only screen and (max-width: 956px) {
    .margin-bottom:last-child.desktop, .margin-bottom.desktop {
        margin-bottom: inherit
    }
}

.hidden {
    display: none
}

.go-button {
    display: inline-block;
    background-color: #0379C4;
    padding: .8em 1em;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-family: Roboto, verdana, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1), background-color .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow .28s cubic-bezier(0.4, 0, 0.2, 1), background-color .2s cubic-bezier(0.4, 0, 0.2, 1)
}

.go-button:hover, .go-button:focus {
    background-color: #0373ba;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4)
}

.go-button:hover {
    text-decoration: none
}

.go-button--alt {
    background-color: #fff;
    color: #0379C4
}

.go-button--alt:hover, .go-button--alt:focus {
    background-color: #fafafa
}

@media only screen and (min-width: 1025px) {
    .desaturate {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: .7;
        -webkit-transition: all .4s ease-out;
        transition: all .4s ease-out
    }
    .desaturate:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1
    }
}

amp-lightbox {
    background-color: rgba(51, 51, 51, 0.9)
}

amp-lightbox .lightbox {
    position: relative;
    top: 50%;
    padding: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

amp-lightbox .lightbox .close-button {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 5%;
    width: 20px;
    height: 20px;
    background-image: url(/static/img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

@media only screen and (max-width: 956px) {
    amp-lightbox .lightbox {
        padding: 30px
    }
    amp-lightbox .lightbox .close-button {
        right: 5px;
        top: 5px
    }
}

.watch-video {
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
    cursor: pointer;
    padding: 5px 5px 5px 40px;
    background-image: url(/static/img/video-play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left
}

.center-content {
    text-align: center
}

section {
    padding: 100px 0 60px
}

@media only screen and (max-width: 956px) {
    section {
        padding: 50px 0 40px
    }
}

.blade h1 {
    font-size: 30px;
    font-weight: 300
}

.blade--hero {
    padding: 65px 0 20px
}

.blade--hero .container {
    position: relative
}

.blade--hero .six.columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.blade--get-started {
    padding: 90px 0 120px;
    background: #f5f5f5
}

.blade--get-started amp-carousel {
    max-width: 100%
}

.blade--contributors {
    background: #e9e9e9
}

.blade--contributors amp-carousel.single {
    max-width: 100%
}

.blade--contributors amp-carousel.single .box__content {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none
}

.blade--benefits {
    padding: 0;
    box-shadow: none;
    background-color: #fff
}

.blade--blog {
    background-color: #f5f5f5;
    padding: 50px 0
}

@media only screen and (max-width: 956px) {
    .blade--blog {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

@media only screen and (max-width: 956px) {
    .blade {
        padding: 60px 0
    }
    .blade--benefits {
        padding: 0
    }
}

.header {
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 14px;
    font-weight: 300;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #fff
}

@media only screen and (max-width: 956px) {
    .header .container {
        padding-right: 18px
    }
}

.header.absolute, .header.fixed {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000
}

.header.absolute {
    position: absolute
}

.header.nav--pinned, .header.nav--unpinned, .header.nav--top {
    position: fixed
}

@media only screen and (max-width: 956px) {
    .header.nav--pinned, .header.nav--unpinned, .header.nav--top {
        position: relative
    }
}

.header.nav--pinned, .header.nav--unpinned {
    background: #0379C4
}

.header.nav--top {
    background-color: transparent
}

.header.hidden {
    display: block
}

@media only screen and (max-width: 956px) {
    .header.hidden {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}

.header.menu-open {
    -webkit-transform: translate(-243px, 0px);
    transform: translate(-243px, 0px)
}

@media only screen and (max-width: 956px) {
    .header .wrap {
        color: transparent
    }
}

.header .content.mobile-show {
    padding: 0 10px 5px
}

.header .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.header .left-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 20px;
    letter-spacing: .04em;
    margin-left: 0;
    font-weight: 300
}

@media only screen and (max-width: 956px) {
    .header .left-nav {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align: left;
        width: auto;
        font-size: 15px
    }
}

.header .left-nav .header-title {
    color: #0379C4;
    font-family: Roboto, verdana, arial, sans-serif;
    padding: 10px 10px 10px 0;
    margin: 18px 0;
    width: auto;
    text-transform: none;
    white-space: nowrap
}

@media only screen and (max-width: 956px) {
    .header .left-nav .header-title {
        width: auto;
        padding: 10px 0;
        margin: 14px 0
    }
}

.header .alt {
    padding: 0;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.header .alt.right {
    letter-spacing: .04em;
    font-size: 15px
}

.header .tab {
    color: #424242;
    padding: 6px;
    margin: 0 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: .1s ease color;
    transition: .1s ease color
}

@media only screen and (max-width: 956px) {
    .header .tab {
        margin-left: auto;
        padding: 10px 12px
    }
}

.header .tab.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative
}

.header .tab.desktop:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    background-color: #0379C4;
    -webkit-transition: .1s ease opacity;
    transition: .1s ease opacity;
    opacity: 0;
    visibility: hidden
}

.header .tab.desktop:hover, .header .tab.desktop.is-active {
    color: #0379C4
}

.header .tab.desktop:hover:after, .header .tab.desktop.is-active:after {
    opacity: 1;
    visibility: visible
}

.header .tab.hamburger {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    display: none;
    pointer: cursor;
    -ms-flex-item-align: center;
    align-self: center
}

@media only screen and (max-width: 956px) {
    .header .tab.desktop, .header .desktop {
        display: none
    }
    .header .tab.hamburger {
        display: inline-block;
        background-image:url("{{ $.Site.BaseURL }}images/hamburger.svg");
        background-repeat: no-repeat;
        background-size: 30px 24px;
        background-position: center center;
        width: 40px;
        height: 40px
    }
}

.rtl header .left-nav .header-title {
    padding: 10px 50px 10px 10px;
    background-position: center right
}

@media only screen and (max-width: 956px) {
    .rtl header .left-nav .header-title {
        width: auto;
        padding: 10px 40px 10px 0
    }
}

.rtl header .alt.right {
    text-align: left
}

amp-sidebar .hamburger {
    display: inline-block;
    background-image:url("{{ $.Site.BaseURL }}images/hamburger.svg");
    background-repeat: no-repeat;
    background-size: 30px 24px;
    background-position: center center;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    top: 13px;
    right: 18px;
    z-index: 1
}

amp-sidebar ul {
    list-style-type: square;
    padding-right: 1em
}

.rtl amp-sidebar ul {
    padding-right: 0;
    padding-left: 1em
}

.rtl amp-sidebar .hamburger {
    right: auto;
    left: 18px
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.main h1 {
    margin-top: 0
}

.main .content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    will-change: transform;
    word-break: break-word;
    min-width: 0;
    padding-top: 60px;
    padding-bottom: 60px
}

.main .content.menu-open {
    -webkit-transform: translate(-243px, 0);
    transform: translate(-243px, 0)
}

.main .content ul, .main .content ol {
    margin-left: 40px
}

.main .content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.main amp-img, .main amp-youtube, .main amp-iframe {
    margin: 1em 0
}

.rtl .main .content ul, .rtl .main .content ol {
    margin-left: 0;
    margin-right: 40px
}

nav {
    border-right: 2px solid #E6E6E6;
    padding: 20px;
    margin-right: 30px;
    margin-left: -20px;
    width: 200px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: #0379c4;
    color: #fff
}

nav h2 {
    font-size: 20px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px
}

nav a {
    color: #fff
}

nav ul li a {
    margin-top: 15px
}

nav ul li, nav ol li {
    margin-bottom: 10px;
    list-style: none
}

nav ul li ul, nav ul li ol, nav ol li ul, nav ol li ol {
    padding-left: 0;
    margin-left: 20px;
    margin-bottom: 1.2em
}

nav ul li ul li, nav ul li ol li, nav ol li ul li, nav ol li ol li {
    margin-bottom: 6px;
    font-size: 14px;
    list-style: square;
    color: #fff
}

nav ul li ul li.current, nav ul li ol li.current, nav ol li ul li.current, nav ol li ol li.current {
    color: rgba(255, 255, 255, 0.6)
}

nav ul li ul li span, nav ul li ol li span, nav ol li ul li span, nav ol li ol li span {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6)
}

nav ul li ul li ul, nav ul li ul li ol, nav ul li ol li ul, nav ul li ol li ol, nav ol li ul li ul, nav ol li ul li ol, nav ol li ol li ul, nav ol li ol li ol {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 5px;
    padding-left: 20px;
    border-top: 1px solid #418fc1;
    padding-top: 3px;
    padding-bottom: 0
}

nav ul li ul li ol li, nav ul li ol li ol li, nav ol li ul li ol li, nav ol li ol li ol li {
    list-style: decimal;
    margin-left: 10px;
}

.rtl nav {
    border-right: 0;
    border-left: 2px solid #E6E6E6;
    margin-left: 30px;
    margin-right: -20px
}

.rtl nav ul li ul, .rtl nav ul li ol, .rtl nav ol li ul, .rtl nav ol li ol {
    padding-left: 0;
    padding-right: 0;
    margin-right: 20px;
    margin-left: 0
}

.rtl nav ul li ul li ul, .rtl nav ul li ul li ol, .rtl nav ul li ol li ul, .rtl nav ul li ol li ol, .rtl nav ol li ul li ul, .rtl nav ol li ul li ol, .rtl nav ol li ol li ul, .rtl nav ol li ol li ol {
    margin-left: 0;
    margin-right: 0;
    padding-right: 20px;
    padding-left: 0
}

@media only screen and (max-width: 956px) {
    .container nav {
        display: none
    }
    amp-sidebar {
        background: #fff
    }
    amp-sidebar nav {
        margin: 0;
        padding: 0;
        border-right: none;
        background: #fff
    }
    amp-sidebar nav ul {
        padding-right: 0
    }
    amp-sidebar nav ul li {
        list-style: none;
        margin-bottom: 0
    }
    amp-sidebar nav ul li ul {
        margin-left: 0;
        margin-bottom: 0
    }
    amp-sidebar nav ul li ul li {
        list-style: none;
        margin: 0
    }
    amp-sidebar nav ul li ul li.is-active {
        background: #f9f9f9
    }
    amp-sidebar nav ul li ul li.is-active a {
        color: #0379C4;
        border-left: 3px solid
    }
    amp-sidebar nav ul li ul li a {
        padding: 6px 15px;
        font-size: 1.2em
    }
    amp-sidebar nav a, amp-sidebar nav span {
        color: #424242;
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        padding: 6px 12px;
        letter-spacing: .04em;
        font-size: 15px
    }
    .rtl amp-sidebar nav {
        border-left: none;
        margin: 0;
        padding: 0
    }
    .rtl amp-sidebar nav ul {
        padding-left: 0
    }
    .rtl amp-sidebar nav ul li ul {
        margin-right: 0
    }
    amp-sidebar nav+nav {
        background: #f9f9f9;
        padding-left: 12px;
        padding-top: 12px;
        box-sizing: border-box
    }
    amp-sidebar nav+nav h2 {
        font-size: 16px;
        font-style: italic;
        margin-bottom: 0;
        color: #424242
    }
    amp-sidebar nav+nav li {
        font-size: 14px
    }
    amp-sidebar nav+nav li ul li.current span {
        color: #0379C4;
        font-weight: 400
    }
    amp-sidebar nav+nav li ul li a {
        font-size: 1em
    }
    .rtl amp-sidebar nav+nav {
        padding-left: 0;
        padding-right: 12px
    }
}

.column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box
}

.column.contained img, .columns.contained img {
    max-width: 100%
}

@media (min-width: 956px) {
    .row.table>.columns {
        display: table-cell;
        float: none;
        vertical-align: middle
    }
    .row.table>.columns:nth-child(2) {
        padding-left: 4%
    }
}

.row:after, .u-cf {
    content: "";
    display: table;
    clear: both
}

@media (min-width: 956px) {
    .column, .columns {
        margin-left: 4%
    }
    .column:first-child, .columns:first-child {
        margin-left: 0
    }
    .reversed .column, .reversed .columns {
        margin-left: 0
    }
    .reversed .column:first-child, .reversed .columns:first-child {
        float: right;
        margin-left: 4%
    }
    .one.column, .one.columns {
        width: 4.66666666667%
    }
    .two.columns {
        width: 13.3333333333%
    }
    .three.columns {
        width: 22%
    }
    .four.columns {
        width: 30.6666666667%
    }
    .five.columns {
        width: 39.3333333333%
    }
    .six.columns {
        width: 48%
    }
    .seven.columns {
        width: 56.6666666667%
    }
    .eight.columns {
        width: 65.3333333333%
    }
    .nine.columns {
        width: 74%
    }
    .ten.columns {
        width: 82.6666666667%
    }
    .eleven.columns {
        width: 91.3333333333%
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0
    }
    .one-third.column {
        width: 30.6666666667%
    }
    .two-thirds.column {
        width: 65.3333333333%
    }
    .one-half.column {
        width: 48%
    }
    .offset-by-one.column, .offset-by-one.columns {
        margin-left: 8.66666666667%
    }
    .offset-by-two.column, .offset-by-two.columns {
        margin-left: 17.3333333333%
    }
    .offset-by-three.column, .offset-by-three.columns {
        margin-left: 26%
    }
    .offset-by-four.column, .offset-by-four.columns {
        margin-left: 34.6666666667%
    }
    .offset-by-five.column, .offset-by-five.columns {
        margin-left: 43.3333333333%
    }
    .offset-by-six.column, .offset-by-six.columns {
        margin-left: 52%
    }
    .offset-by-seven.column, .offset-by-seven.columns {
        margin-left: 60.6666666667%
    }
    .offset-by-eight.column, .offset-by-eight.columns {
        margin-left: 69.3333333333%
    }
    .offset-by-nine.column, .offset-by-nine.columns {
        margin-left: 78%
    }
    .offset-by-ten.column, .offset-by-ten.columns {
        margin-left: 86.6666666667%
    }
    .offset-by-eleven.column, .offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }
    .offset-by-one-third.column, .offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }
    .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }
    .offset-by-one-half.column, .offset-by-one-half.columns {
        margin-left: 52%
    }
}

@media (max-width: 956px) {
    .row.row-sm .column, .row.row-sm .columns {
        margin-left: 4%
    }
    .row.row-sm .column:first-child, .row.row-sm .columns:first-child {
        margin-left: 0
    }
    .row.row-sm .one.column, .row.row-sm .one.columns {
        width: 4.66666666667%
    }
    .row.row-sm .two.columns {
        width: 13.3333333333%
    }
    .row.row-sm .three.columns {
        width: 22%
    }
    .row.row-sm .four.columns {
        width: 30.6666666667%
    }
    .row.row-sm .five.columns {
        width: 39.3333333333%
    }
    .row.row-sm .six.columns {
        width: 48%
    }
    .row.row-sm .seven.columns {
        width: 56.6666666667%
    }
    .row.row-sm .eight.columns {
        width: 65.3333333333%
    }
    .row.row-sm .nine.columns {
        width: 74%
    }
    .row.row-sm .ten.columns {
        width: 82.6666666667%
    }
    .row.row-sm .eleven.columns {
        width: 91.3333333333%
    }
    .row.row-sm .twelve.columns {
        width: 100%;
        margin-left: 0
    }
    .row.row-sm .one-third.column {
        width: 30.6666666667%
    }
    .row.row-sm .two-thirds.column {
        width: 65.3333333333%
    }
    .row.row-sm .one-half.column {
        width: 48%
    }
    .row.row-sm .offset-by-one.column, .row.row-sm .offset-by-one.columns {
        margin-left: 8.66666666667%
    }
    .row.row-sm .offset-by-two.column, .row.row-sm .offset-by-two.columns {
        margin-left: 17.3333333333%
    }
    .row.row-sm .offset-by-three.column, .row.row-sm .offset-by-three.columns {
        margin-left: 26%
    }
    .row.row-sm .offset-by-four.column, .row.row-sm .offset-by-four.columns {
        margin-left: 34.6666666667%
    }
    .row.row-sm .offset-by-five.column, .row.row-sm .offset-by-five.columns {
        margin-left: 43.3333333333%
    }
    .row.row-sm .offset-by-six.column, .row.row-sm .offset-by-six.columns {
        margin-left: 52%
    }
    .row.row-sm .offset-by-seven.column, .row.row-sm .offset-by-seven.columns {
        margin-left: 60.6666666667%
    }
    .row.row-sm .offset-by-eight.column, .row.row-sm .offset-by-eight.columns {
        margin-left: 69.3333333333%
    }
    .row.row-sm .offset-by-nine.column, .row.row-sm .offset-by-nine.columns {
        margin-left: 78%
    }
    .row.row-sm .offset-by-ten.column, .row.row-sm .offset-by-ten.columns {
        margin-left: 86.6666666667%
    }
    .row.row-sm .offset-by-eleven.column, .row.row-sm .offset-by-eleven.columns {
        margin-left: 95.3333333333%
    }
    .row.row-sm .offset-by-one-third.column, .row.row-sm .offset-by-one-third.columns {
        margin-left: 34.6666666667%
    }
    .row.row-sm .offset-by-two-thirds.column, .row.row-sm .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%
    }
    .row.row-sm .offset-by-one-half.column, .row.row-sm .offset-by-one-half.columns {
        margin-left: 52%
    }
}

.col-sx-4, .col-md-2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left
}

.col-xs-4 {
    width: 33.33333333%
}

@media (min-width: 992px) {
    .col-md-2 {
        width: 16.66666667%
    }
}

div.language {
    position: relative;
    height: 33px;
    width: 110px;
    box-shadow: 0 1px 2px #b7b7b7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

div.language amp-accordion {
    height: 33px;
    width: 110px
}

div.language section {
    padding: 0
}

div.language .current {
    font-size: 1em;
    font-weight: 400
}

div.language .current, div.language .others div {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: 6px 6px;
    background-size: 20px;
    padding: 8px 10px;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #e7ebec;
    box-sizing: border-box;
    height: 33px
}

div.language .current:hover, div.language .others div:hover {
    background-color: #0379c4;
    border-bottom: 1px solid #0379c4
}

div.language .current:hover a, div.language .others div:hover a {
    color: #fff;
    text-decoration: none
}

div.language .current a, div.language .others div a {
    display: block;
    padding: 0;
    padding-left: 0;
    color: #424242;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

div.language .current a span, div.language .others div a span {
    padding: 0;
    background-color: transparent
}

div.language .others {
    box-shadow: 0 1px 2px #b7b7b7
}

.rtl .language .current a, .rtl .language .others div a {
    padding-right: 26px;
    padding-left: 0;
    background-position: right 6px
}

header .language {
    margin-left: 12px;
    -ms-flex-item-align: center;
    align-self: center
}

.rtl header .language {
    margin-left: 0;
    margin-right: 12px
}

amp-sidebar .language {
    width: auto;
    box-shadow: none;
    height: 66px;
    margin-bottom: 12px;
    background: #f9f9f9
}

amp-sidebar .language amp-accordion {
    width: auto;
    height: 66px
}

amp-sidebar .language .current, amp-sidebar .language .others div {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
    padding-left: 16px;
    padding-top: 25px;
    padding-bottom: 6px;
    height: 66px
}

amp-sidebar .language .current.current, amp-sidebar .language .others div.current {
    background: none;
    border-bottom: 1px solid #eee
}

amp-sidebar .language .current.current span, amp-sidebar .language .others div.current span {
    color: #424242
}

amp-sidebar .language .current a, amp-sidebar .language .others div a {
    padding-left: 0
}

.rtl amp-sidebar .language::before {
    left: 20px;
    right: auto
}

.rtl amp-sidebar .language .current, .rtl amp-sidebar .language .others div {
    padding-left: 0;
    padding-right: 16px
}

pre {
    overflow: auto;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    word-break: normal;
    line-height: 1.4;
    background: #CFD8DC
}

pre>code {
    white-space: pre;
    word-wrap: initial;
    display: block
}

pre>code td {
    border: 0
}

.highlight .hll {
    background-color: #ffc
}

.highlight .c {
    color: #aaa;
    font-style: italic
}

.highlight .err {
    color: #F00000
}

.highlight .k {
    color: #00a
}

.highlight .cm {
    color: #aaa;
    font-style: italic
}

.highlight .cp {
    color: #4c8317
}

.highlight .c1 {
    color: #aaa;
    font-style: italic
}

.highlight .cs {
    color: #00a;
    font-style: italic
}

.highlight .gd {
    color: #a00
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: navy;
    font-weight: 700
}

.highlight .gi {
    color: #0a0
}

.highlight .go {
    color: #424242
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: 700
}

.highlight .gu {
    color: purple;
    font-weight: 700
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    color: #00a
}

.highlight .kd {
    color: #00a
}

.highlight .kn {
    color: #00a
}

.highlight .kp {
    color: #00a
}

.highlight .kr {
    color: #00a
}

.highlight .kt {
    color: #0aa
}

.highlight .m {
    color: #099
}

.highlight .s {
    color: #a50
}

.highlight .na {
    color: #1e90ff
}

.highlight .nb {
    color: #0aa
}

.highlight .nc {
    color: #0a0;
    text-decoration: underline
}

.highlight .no {
    color: #a00
}

.highlight .nd {
    color: #888
}

.highlight .ni {
    color: maroon;
    font-weight: 700
}

.highlight .nf {
    color: #0a0
}

.highlight .nn {
    color: #0aa;
    text-decoration: underline
}

.highlight .nt {
    color: #1e90ff;
    font-weight: 700
}

.highlight .nv {
    color: #a00
}

.highlight .ow {
    color: #00a
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #a50
}

.highlight .sc {
    color: #a50
}

.highlight .sd {
    color: #a50
}

.highlight .s2 {
    color: #a50
}

.highlight .se {
    color: #a50
}

.highlight .sh {
    color: #a50
}

.highlight .si {
    color: #a50
}

.highlight .sx {
    color: #a50
}

.highlight .sr {
    color: #099
}

.highlight .s1 {
    color: #a50
}

.highlight .ss {
    color: #00a
}

.highlight .bp {
    color: #0aa
}

.highlight .vc {
    color: #a00
}

.highlight .vg {
    color: #a00
}

.highlight .vi {
    color: #a00
}

.highlight .il {
    color: #099
}

.highlight .lineno {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none
}

.lineno::-moz-selection {
    background-color: transparent
}

.lineno::selection {
    background-color: transparent
}

.blog {
    font-size: 15px;
    line-height: 1.3
}

.blog__section-title {
    color: #000;
    margin-bottom: 30px
}

.blog__viewmore {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px
}

.blog__title {
    font-size: 20px;
    margin-bottom: 5px;
    color: #424242;
    -webkit-transition: color .15s ease-out;
    transition: color .15s ease-out
}

.blog__subtitle {
    font-size: 15px;
    color: #9E9E9E
}

.blog__tab {
    display: block;
    padding: 5px 20px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    background-position: 20px center;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .15s ease-out;
    transition: .15s ease-out
}

.blog__tab:hover {
    text-decoration: none;
    box-shadow: 0 4px 7px 1px rgba(0, 0, 0, 0.16), 0 4px 12px 1px rgba(0, 0, 0, 0.12)
}

.blog__tab:hover .blog__title {
    color: #0379C4
}

@media only screen and (max-width: 956px) {
    .blog__tabs {
        margin-bottom: 40px
    }
    .blog__tab {
        padding: 5px 15px 15px
    }
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.card {
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(33% - 10px);
    flex: 0 0 calc(33% - 10px)
}

.card__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 16px;
    color: #424242
}

.card__content {
    padding: 20px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;
    text-align: left;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

.card p {
    margin: 0;
    color: #616161
}

.card__action {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 14px
}

.card__action a {
    padding: 20px;
    display: block
}

.card__image {
    position: relative
}

.boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.box {
    background-color: #fff;
    font-size: 14px;
    color: #757575;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(50% - 10px);
    flex: 0 0 calc(50% - 10px)
}

.box__inner {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0
}

@media only screen and (max-width: 768px) {
    .box__inner {
        padding: 50px 30px 30px
    }
}

@media only screen and (max-width: 320px) {
    .box__inner {
        padding: 40px 15px 20px
    }
}

.box__content {
    margin-bottom: 20px;
    line-height: 1.7;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0
}

.box__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.box__image {
    margin-right: 20px
}

.box__image amp-img {
    border-radius: 50%;
    overflow: hidden
}

.box__credit {
    margin-top: 12px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0
}

.box__title {
    font-size: 20px;
    color: #4a4a4a;
    margin: 0;
    line-height: 1.2
}

.box__subtitle {
    line-height: 1.3
}

.image-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start
}

.image-grid__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.image-grid--large .image-grid__image {
    margin: 0 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 20px);
    flex: 0 0 calc(25% - 20px)
}

.image-grid--small .image-grid__image {
    margin: 0 10px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(33% - 20px);
    flex: 0 0 calc(33% - 20px)
}

.accordion-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative
}

.accordion {
    width: 100%;
    line-height: 1.5;
    position: initial
}

.accordion__section {
    padding: 0;
    border-bottom: 1px solid #e9e9e9
}

.accordion__header {
    background-color: transparent;
    border: none;
    padding: 14px 0;
    -webkit-transition: .15s;
    transition: .15s;
    cursor: pointer
}

.accordion__header:hover, .accordion__header:focus {
    background-color: #fafafa
}

.accordion__header:active {
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    background-color: #f5f5f5
}

.accordion__title {
    color: #0379C4;
    margin: 0;
    position: relative
}

.home .accordion__title {
    margin-bottom: 0
}

@media only screen and (max-width: 956px) {
    .home .accordion__title {
        font-size: 30px
    }
}

.accordion__title:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    background: transparent url(/static/img/cheveron-down.svg) no-repeat 50% 50%;
    -webkit-transition: .15s ease;
    transition: .15s ease;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg)
}

.accordion__header:active .accordion__title:after {
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
    -webkit-transform: rotateX(45deg);
    transform: rotateX(45deg)
}

[expanded] .accordion__header:active .accordion__title:after {
    -webkit-transform: rotateX(235deg);
    transform: rotateX(235deg)
}

[expanded] .accordion__title:after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}

.accordion__content {
    font-size: 16px;
    color: #616161;
    margin: 0 0 40px
}

.accordion__figure {
    padding: 40px 40px 0;
    margin: 0 0 20px;
    background-color: #e9e9e9
}

.accordion__figure amp-img {
    max-width: 300px;
    margin: auto
}

@media only screen and (max-width: 768px) {
    .accordion__figure {
        padding-left: 20%;
        padding-right: 20%
    }
}

.accordion__text {
    margin-top: 20px;
    max-width: 34em
}

.lightbox {
    background-color: rgba(51, 51, 51, 0.9)
}

.lightbox__container {
    position: relative;
    top: 50%;
    padding: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

@media only screen and (max-width: 956px) {
    .lightbox__container {
        padding: 30px
    }
}

.lightbox__close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    background-image: url(/static/img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px
}

footer {
    padding: 25px 0;
    background-color: #e9e9e9
}

footer p {
    margin: 0
}

footer .footer-image {
    height: 30px;
    width: 30px;
    margin-right: 20px
}

footer .footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #0371b7
}

.home h1 {
    font-size: 36px;
    margin-bottom: 40px
}

.home .hero {
    background-color: #f5f5f5;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/static/img/background.jpg);
    position: relative
}

.home .hero:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.3);
    background: -webkit-linear-gradient(left top, rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.1))
}

@media only screen and (max-width: 956px) {
    .home .hero:before {
        width: 100%;
        background: rgba(51, 51, 51, 0.7)
    }
}

@media only screen and (max-width: 460px) {
    .home .hero {
        background-image: url(/static/img/background-mobile.jpg)
    }
}

@media only screen and (min-width: 957px) {
    .home .hero {
        min-height: 420px;
        padding-bottom: 4px;
        padding-top: 134px
    }
}

.home .hero .container {
    position: relative
}

.home .hero h1 {
    color: #fff;
    font-weight: 100
}

.home .hero h1 br {
    display: none
}

@media only screen and (max-width: 956px) {
    .home .hero h1 br {
        display: block
    }
}

.home .hero .hero-phone {
    position: absolute;
    right: 0;
    top: -11%;
    width: 360px
}

@media only screen and (max-width: 1024px) {
    .home .hero .hero-phone {
        right: 0
    }
}

.home .hero .video-div {
    position: absolute;
    right: 21.7%;
    top: 9.25%
}

.home .hero .intro {
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    max-width: 510px;
    padding-bottom: 45px
}

.home .hero .intro p {
    margin-top: 0
}

@media only screen and (max-width: 956px) {
    .home .hero .intro {
        margin-bottom: 15px
    }
}

.home .hero .go-button {
    margin-top: 40px;
    font-weight: 500
}

.section-computer {
    padding: 0
}

.section-computer .computer-wrapper {
    background-color: #0379C4;
    margin-bottom: 1em
}

.section-computer .computer-wrapper .computer-interface {
    display: block;
    margin: 0 auto;
    max-width: 25%;
    padding: 5em 0 2.5em
}

.image-row {
    padding: 2em 0
}

@media only screen and (max-width: 956px) {
    .image-row {
        padding: 0
    }
}

@media only screen and (max-width: 956px) {
    .partner-image {
        padding: 1.5em
    }
}

.publisher-image {
    margin-left: 4%
}

.video-div {
    background-color: #fff
}

.who .content {
    padding-top: 60px
}

.who h1 {
    margin-bottom: 80px
}

@media only screen and (max-width: 956px) {
    .who h1 {
        margin-bottom: 40px
    }
}

.who h2 {
    margin-bottom: 40px
}

@media only screen and (max-width: 956px) {
    .who h2 {
        margin-bottom: 40px
    }
}

.who h3 {
    margin-bottom: 20px
}

.who h1 a, .who h2 a, .who h3 a {
    color: #aaa;
    font-size: 16px;
    margin-left: .5em;
    display: none
}

.who h1:hover a, .who h2:hover a, .who h3:hover a {
    display: inline
}

.who .items {
    padding: 0;
    list-style: none;
    margin-bottom: 80px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    -webkit-column-break-inside: avoid
}

@media only screen and (max-width: 768px) {
    .who .items {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3
    }
}

@media only screen and (max-width: 460px) {
    .who .items {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2
    }
}

@media only screen and (max-width: 320px) {
    .who .items {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }
}

.who .items .item {
    padding: 6px 0;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid
}

.who__section {
    margin-bottom: 20px
}

.roadmap .content ul, .roadmap .content ol {
    padding-left: 40px
}

.roadmap .content .stages li {
    list-style-type: none
}

.roadmap .content h1 {
    margin-bottom: 1em;
    padding-left: 12px
}

.roadmap .content h1 small {
    display: block;
    color: #949494;
    font-size: 24px;
    padding-top: 6px
}

.roadmap .content h3 {
    background: #2196F3;
    padding: .5em 16px;
    color: #fff;
    margin-bottom: 0
}

.roadmap .content h3 small {
    display: block;
    font-size: 16px;
    margin-top: 8px;
    font-style: italic;
    color: #BBDEFB
}

.roadmap .content h4 {
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 6px;
    margin-bottom: 1em
}

.roadmap .content strong {
    font-weight: 500
}

.roadmap .content p {
    margin: 0
}

.roadmap .content section {
    padding-left: 0
}

.roadmap .content .about {
    margin: 2em 12px
}

.roadmap .content .about ul {
    margin: 0;
    list-style-type: square
}

.roadmap .content .about div {
    margin-bottom: 1em
}

.roadmap .content .workstream {
    margin-bottom: 1em;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1)
}

.roadmap .content .workstream-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.roadmap .content .description {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 1em;
    padding-right: 2em
}

.roadmap .content .plan {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    min-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1em;
    padding-bottom: 0;
    border-left: 3px solid #E8E8E8
}

.roadmap .content .plan h4 {
    display: none
}

.roadmap .content .workstream-headings .description {
    padding-bottom: 0
}

.roadmap .content .workstream-headings .plan h4 {
    display: block
}

.roadmap .content .workstream-headings h4 {
    margin-bottom: 0
}

.roadmap .content .themes ul, .roadmap .content .forecast ul {
    list-style-type: square;
    margin-top: 0;
    margin-bottom: 0
}

.roadmap .content .forecast {
    padding: 1em;
    border-top: 3px solid #E8E8E8
}

.roadmap .content .stages {
    margin: -4px 0 0;
    margin-left: -19px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 1em
}

.roadmap .content .stages>li {
    padding-left: 12px;
    padding-top: 28px;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
}

.roadmap .content .stages>li:last-child {
    padding-bottom: 1em
}

.roadmap .content .stages>li::before {
    content: attr(data-description);
    position: absolute;
    top: 3px;
    left: 24px;
    font-style: italic;
    color: #777;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    right: 0;
    white-space: nowrap
}

.roadmap .content .stages>li::after {
    position: absolute;
    top: 0;
    left: -16px;
    background: #fff;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    font-weight: 800;
    line-height: 26px
}

.roadmap .content .stages>li li {
    position: relative
}

.roadmap .content .stages>li li::before {
    content: "";
    width: 10px;
    height: 4px;
    display: block;
    position: absolute;
    border-radius: 10px;
    top: 10px;
    left: -27px
}

.roadmap .content .stages .stage-0 {
    border-left: 3px solid #DCEDC8
}

.roadmap .content .stages .stage-0:after {
    content: "0";
    border: 3px solid #DCEDC8
}

.roadmap .content .stages .stage-0 li:before {
    background: #DCEDC8
}

.roadmap .content .stages .stage-1 {
    border-left: 3px solid #C5E1A5
}

.roadmap .content .stages .stage-1:after {
    content: "1";
    border: 3px solid #C5E1A5
}

.roadmap .content .stages .stage-1 li:before {
    background: #C5E1A5
}

.roadmap .content .stages .stage-2 {
    border-left: 3px solid #AED581
}

.roadmap .content .stages .stage-2:after {
    content: "2";
    border: 3px solid #AED581
}

.roadmap .content .stages .stage-2 li:before {
    background: #AED581
}

.roadmap .content .stages .stage-3 {
    border-left: 3px solid #9CCC65
}

.roadmap .content .stages .stage-3:after {
    content: "3";
    border: 3px solid #9CCC65
}

.roadmap .content .stages .stage-3 li:before {
    background: #9CCC65
}

.roadmap .content .stages .stage-4 {
    border-left: 3px solid #8BC34A
}

.roadmap .content .stages .stage-4:after {
    content: "4";
    border: 3px solid #8BC34A
}

.roadmap .content .stages .stage-4 li:before {
    background: #8BC34A
}

.roadmap .content .stages .stage-5 {
    border-left: 3px solid #7CB342
}

.roadmap .content .stages .stage-5:after {
    content: "5";
    border: 3px solid #7CB342
}

.roadmap .content .stages .stage-5 li:before {
    background: #7CB342
}

.roadmap .content .stages .stage-6 {
    border-left: 3px solid #689F38
}

.roadmap .content .stages .stage-6:after {
    content: "6";
    border: 3px solid #689F38
}

.roadmap .content .stages .stage-6 li:before {
    background: #689F38
}

.roadmap .content .stages ul {
    margin: 0;
    padding: 0;
    margin-left: 12px;
    padding-top: 3px
}

@media only screen and (max-width: 640px) {
    .roadmap .content .workstream-flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .roadmap .content .plan {
        border-left: 0
    }
    .roadmap .content .stages {
        margin-left: 24px
    }
    .roadmap .content .workstream-flex .plan h4 {
        display: block
    }
    .roadmap .content .workstream-headings .plan {
        display: none
    }
}

body.case-study h1 {
    margin-bottom: 1em
}

body.case-study .img-right {
    display: inline-block;
    width: 37%;
    min-width: 250px;
    float: right
}

body.case-study .img-right amp-img {
    margin-top: 0
}

body.case-study .button {
    background: #f0f8ff;
    margin: 2em 2em 0 0;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block
}

body.case-study .results {
    padding: 0 1em;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1em;
    margin: 0 2em
}

body.case-study .results p {
    font-weight: 400;
    font-size: 18px
}

body.case-study .results p:first-child {
    margin-top: 0
}

body.case-study .results strong {
    display: block;
    color: #4CAF50
}

body.case-study blockquote p {
    font-size: 22px;
    line-height: 35px
}

@media only screen and (max-width: 956px) {
    body.case-study .results .button {
        margin-right: 0
    }
}

@media only screen and (max-width: 600px) {
    body.case-study .img-right {
        display: block;
        float: none;
        width: auto
    }
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.pagination .prev {
    padding: 10px 0 10px 20px;
    background-image:url("{{ $.Site.BaseURL }}images/chevron-left.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 18px 18px
}

.pagination .number {
    padding: 10px 0 10px 0;
}

.pagination .next {
    padding: 10px 20px 10px 0;
    background-image:url("{{ $.Site.BaseURL }}images/chevron-right.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 18px 18px
}