<div class="pagination">
  {{ if .HasPrev }}<a class="prev" href="{{ .Prev.URL }}">PREV</a>{{ else }}<a></a>{{ end }}
  <span class="number">Page {{ .PageNumber}} / {{ .TotalPages }}</span>  
  {{ if .HasNext }}<a class="next" href="{{ .Next.URL }}">NEXT</a>{{ else }}<a></a>{{ end }}
</div>