<a class="blog__tab" href="{{ .Permalink }}">       
  <h4 class="blog__title">{{ .Title }}</h4>
  <!--
  <div class="blog__subtitle">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
  -->

  <div class="blog__subtitle">
    {{if .Params.categories }}
      {{ range $index , $category := .Params.categories }}
        {{ $category }}
      {{ end }}
    {{ end }}
    {{if .Params.roles }}
      {{ range $index , $roles := .Params.roles }}
        #{{ $roles }}
      {{ end }}
    {{end}}
  </div>
</a>
