{{ $baseurl := .Site.BaseURL }}
{{ partial "header.html" . }}
<div class="blog">
  <h1>{{ .Title }}</h1>
  <p>Last Updated: {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
  <p>
    {{ if .Params.categories }}
      {{ range $index , $category := .Params.categories }}
        <!-- <a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ $category }}</a> -->
        <b>{{ $category }} - </b>
      {{ end }}
    {{ end }}
    {{if .Params.roles }}
      {{ range $index , $role := .Params.roles }}
        <!-- <a href="{{ $baseurl }}roles/{{ . | urlize }}">#{{ $role }}</a> -->
        <i>#{{ $role }}</i>
      {{ end }}
    {{ end }}        
  </p>
  <hr/>
  {{ .Content }}
</div>
{{ if eq .Type "procedure" }}
  <br/><br/>
  <div class="pagination">
    {{ if .Prev }}<a class="prev" href="{{ .Prev.Permalink }}">{{ .Prev.Title }}</a>{{ else }}<a></a>{{ end }}
    {{ if .Next }}<a class="next" href="{{ .Next.Permalink }}">{{ .Next.Title }}</a>{{ else }}<a></a>{{ end }}
  </div>
{{ end }}
{{ partial "footer.html" . }}